In [1]:
import pandas as pd
import numpy as np

In [2]:
raw = pd.read_csv("dataset 2.csv")
raw.shape
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114000 entries, 0 to 113999
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        114000 non-null  int64
 1   track_id          114000 non-null  object
 2   artists           113999 non-null  object
 3   album_name        113999 non-null  object
 4   track_name        113999 non-null  object
 5   popularity        114000 non-null  int64
 6   duration_ms       114000 non-null  int64
 7   explicit          114000 non-null  bool
 8   danceability      114000 non-null  float64
 9   energy            114000 non-null  float64
 10  key               114000 non-null  int64
 11  loudness          114000 non-null  float64
 12  mode              114000 non-null  int64
 13  speechiness       114000 non-null  float64
 14  acousticness      114000 non-null  float64
 15  instrumentalness  114000 non-null  float64
 16  liveness          114000 non-null  float64
 17  valence           114000 non-null  float64
 18  tempo             114000 non-null  float64
 19  time_signature    114000 non-null  int64
 20  track_genre       114000 non-null  object
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 17.5+ MB

In [4]:
columns = [ "track_id", 
           "popularity", 
           "duration_ms", 
           "danceability", 
           "energy", 
           "key", 
           "loudness", 
           "speechiness", 
           "liveness", 
           "valence", 
           "time_signature", 
           "track_genre"]

df = raw[columns].copy()

In [5]:
df = df.drop_duplicates(subset = "track_id")
df = df.dropna()

In [6]:
df["track_genre"] = (
    df["track_genre"]
    .astype(str)
    .str.lower()
    .str.strip()
)

In [7]:
allowed_genres = [
    "acoustic", "classical", "dance", "disco",
    "happy", "hiphop", "indian", "jazz",
    "pop", "romance", "sad"
]

df = df[df["track_genre"].isin(allowed_genres)].copy()

In [8]:
df["track_genre"].value_counts()

track_genre
acoustic     1000
happy         995
dance         948
disco         928
romance       904
classical     867
indian        733
sad           564
jazz          524
pop           416
Name: count, dtype: int64

In [9]:
audio_features = ["danceability", "energy", "valence"]

df[audio_features].describe()

       danceability       energy      valence
count   7879.000000  7879.000000  7879.000000
mean       0.561818     0.534746     0.460974
std        0.165636     0.287203     0.252820
min        0.000000     0.000756     0.000000
25%        0.446000     0.292000     0.247000
50%        0.573000     0.540000     0.441000
75%        0.688000     0.793000     0.667000
max        0.980000     1.000000     0.993000

In [ ]:

df["is_happy_genre"] = df["track_genre"] == "happy"
df["is_sad_genre"] = df["track_genre"] == "sad"

In [11]:
# High valence = emotionally positive
df["high_valence"] = df["valence"] >= 0.6

# Low valence = emotionally negative
df["low_valence"] = df["valence"] <= 0.4

In [12]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7879 entries, 0 to 94999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   track_id        7879 non-null   object
 1   popularity      7879 non-null   int64
 2   duration_ms     7879 non-null   int64
 3   danceability    7879 non-null   float64
 4   energy          7879 non-null   float64
 5   key             7879 non-null   int64
 6   loudness        7879 non-null   float64
 7   speechiness     7879 non-null   float64
 8   liveness        7879 non-null   float64
 9   valence         7879 non-null   float64
 10  time_signature  7879 non-null   int64
 11  track_genre     7879 non-null   object
 12  is_happy_genre  7879 non-null   bool
 13  is_sad_genre    7879 non-null   bool
 14  high_valence    7879 non-null   bool
 15  low_valence     7879 non-null   bool
dtypes: bool(4), float64(6), int64(4), object(2)
memory usage: 831.0+ KB

,track_id,popularity,duration_ms,danceability,energy,key,loudness,speechiness,liveness,valence,time_signature,track_genre,is_happy_genre,is_sad_genre,high_valence,low_valence
0,5SuOikwiRyPMVoIQDJUgSV,73,230666,0.676,0.4610,1,-6.746,0.1430,0.3580,0.715,4,acoustic,False,False,True,False
1,4qPNDBW1i3p13qLCt0Ki3A,55,149610,0.420,0.1660,1,-17.235,0.0763,0.1010,0.267,4,acoustic,False,False,False,True
2,1iJBSr7s7jYXzM8EGcbK5b,57,210826,0.438,0.3590,0,-9.734,0.0557,0.1170,0.120,4,acoustic,False,False,False,True
3,6lfxq3CG4xtTiEg7opyCyx,71,201933,0.266,0.0596,0,-18.515,0.0363,0.1320,0.143,3,acoustic,False,False,False,True
4,5vjLSffimiIP26QG5WcN2K,82,198853,0.618,0.4430,2,-9.681,0.0526,0.0829,0.167,4,acoustic,False,False,False,True

In [14]:
df.to_csv("tracks_cleaned.csv", index=False)